//- NomadCorders (watch.pug)
extends base.pug

block content
    //- video-i-d = videoID
    div#vid__container(data-video-i-d=videoNow._id).vid__container
        video(src="/"+videoNow.fileUrl)
        div#vid__controller.vid__controller__box
            div.vid__controller__clmn-play
                button#vid__play
                    i.fas.fa-play
                div
                    span#vid__currentTime 00:00:00
                    span  / 
                    span#vid__totalTime 00:00:00
            input(type="range", step="1", value="0", min="0")#vid__timelime.vid__controller__clmn-timeline
            div.vid__controller__clmn-volume
                input(type="range", step="0.05", value=0.5, min="0", max="1")#vid__volume
                button#vid__mute
                    i.fas.fa-volume-up
                button#vid__fullscreen
                    i.fas.fa-expand
    di#vid__metaContainer
        div
            p.vid__metaTitle=videoNow.title
            p.vid__metaCreation=videoNow.creationAt
            a.vid__metaOwner(href=`/users/${videoNow.owner._id}`) Uploaded by #{videoNow.owner.name}
        div
            a(href=`${videoNow.id}/edit`) Edit Video &rarr;
            a(href=`${videoNow.id}/delete`) Delete Video &rarr;
            a(href=`${videoNow.owner}/follow`) 팔로우하기 &rarr;
    if loggedIn
        div.video__comments
            form.video__form#commentForm
                textarea(cols="30", rows="10", placeholder="Write Nice Comment...")
                button Add Comment

        div.video__commentsList
            ul
                each comment in videoNow.childComments.reverse()
                    li
                        p=comment.text
                        p=comment.creationAt

block scripts
    script(src="/design/js/videoPlayer.js")
    if loggedIn
        script(src="/design/js/commentSection.js")
    //-
        absolute and relative  URL
        
        Check Absolute URL and Relat=ive URL

        localhost:4000/profile/edit-profile/password
        =========> a(href="potate")
        localhost:4000/profile/edit-profile/potato

        localhost:4000/profile/edit-profile/password
        =========> a(href="/potate")
        localhost:4000/potato