//- NomadCorders (watch.pug)
extends base.pug

block content
    p=videoNow.description
    small=videoNow.creationAt
    br
    a(href=`${videoNow.id}/edit`) Edit Video &rarr;
    br
    a(href=`${videoNow.id}/delete`) Delete Video &rarr;
    //- absolute and relative  URL
    
    //- Check Absolute URL and Relat=ive URL

    //- localhost:4000/profile/edit-profile/password
    //- =========> a(href="potate")
    //- localhost:4000/profile/edit-profile/potato

    //- localhost:4000/profile/edit-profile/password
    //- =========> a(href="/potate")
    //- localhost:4000/potato